img{
    max-height:800px;
    max-width:800px;
    height:auto;
    width:auto;
    margin:auto;
}

#image_container{
    position:relative;
}

#rect{
    position:absolute;
    border:2px solid #FF0000;
}

#bbox_field{
    display: none;
}


